* {
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERAL */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#009688 0%, #009688 130px, #DBDBD2 130px, #DBDBD2 100%);
}

.main-container {
    width: 85%;
    height: 94%;
    overflow: hidden;
}

.circle-container {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin: auto; 
}

.circle-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block; 
}

.button-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: grey;
    font-size: 1.5rem;
}

/* ASIDE */

aside {
    height: 100%;
}

aside .aside-users-container {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 205px);
}

aside > header {
    height: 75px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-right: 1px solid lightgray;
}

aside #notification-tab {
    height: 85px;
    background-color: #8EDAFC;
}

aside #search-container {
    padding: 5px;
    background-color: #FAFAFA;
    height: 50px;
    display: flex;
    align-items: center;
}

aside #search-container form {
    display: flex;
    width: 100%;
    background-color: white;
}

aside form div:first-child {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    border-right: 1px solid #eee;
}

aside .search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
}

aside #notification-tab > div:first-child {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    margin: 0 15px;
    color: #8EDAFC;
    
}

/* ASIDE CONTACTS */

aside .contact-info {
    cursor: pointer;
}

aside .contact-info .circle-container {
    width: 65px;
    height: 65px;
}

aside .contact-desc span:last-child {
    color: #858585;
    font-size: 0.80rem;
}

aside .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside .contact-info ul li {
    border-bottom: 1px solid lightgray;
}

aside .contact-info.active {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

aside .list-container {
    position: relative;
}

aside .user-hour {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 12px;
    color: grey;
}

/* MAIN */

section {
    background-image: url('../img/mine.jpg');
    height: 100%;
    overflow-y: hidden;
}

section > header {
    height: 75px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

section header span {
    color: #858585;
    font-size: 0.85rem;
}

section .chat-container {
    height: calc(100% - 145px);
    overflow-y: auto;
    padding-top: 50px;
}

section .message-container {
    padding: 0 120px;
    display: flex;
}

section .message-container.sent {
    justify-content: flex-end;
}

section .message-container.received {
    justify-content: flex-start;
}


section .message-style {
    width: 350px;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

section .message-style.sent {
    background-color: #D5F9BA;
}

section .message-style.received {
    background-color: #FFFFFF;
}

section .message-style p {
    width: 100%;
    margin: 0;
}

section .message-style > span {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 12px;
    color: grey;
}

/* FOOTER */

footer {
    height: 70px;
    width: 100%;
    border-top: 1px solid #eaeaea;
    display: flex;
}

footer #message-input {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    background-color: #EAEAEA;
    align-items: center;
    height: 70px;
    color: grey;
}

footer #message-input input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: grey;
    background-color: white;
    width: 90%;
}

footer #message-input > i {
    font-size: 1.5rem;
}






